<ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
 </ul>
 

 <div class="container" id="container" #container>
    <div class="form-container sign-up-container">
      
    </div>
    <!-- Forgot Password Form -->
    <div class="form-container sign-in-container">
    <form (ngSubmit)="onResetPassword()" [formGroup]="resetPasswordForm">
      <div class="form-group form-step">
        <h1 class="create">
          <button type="button" class="back-button" routerLink="/forgetPassword" routerLinkActive="active" ariaCurrentWhenActive="page">← </button>
          Change your password
        </h1>
        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input
            class="input100"
            type="password"
            name="newPassword"
            placeholder="New Password"
            formControlName="password"
            required
          />
          <span class="focus-input100"></span>
          <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="error-message">
            <span *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password is required.</span>
            <span *ngIf="resetPasswordForm.get('password')?.errors?.['password']">
              Password must be between 8 and 16 characters and contain at least one special character.
            </span>
          </div>
        </div>
  
        <div class="wrap-input100 validate-input" data-validate="Password confirmation is required">
          <input
            class="input100"
            type="password"
            name="confirm-password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            required
          />
          <span class="focus-input100"></span>
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched" class="error-message">
            <span *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</span>
            <span *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['confirmPassword']">Passwords must match.</span>
          </div>
        </div>
      </div>
  
      <button type="submit" class="sign_inB role-formbut" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </form>
</div>
<div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <!-- Optional: Add content for the left overlay panel -->
      </div>
      <div class="overlay-panel overlay-right">
          
      </div>
    </div>
  </div>
  </div>