<app-navbar-hr></app-navbar-hr>
<app-welcome-view></app-welcome-view>
<app-start-process></app-start-process>
<app-suggestions-h></app-suggestions-h>
<app-about></app-about>
<app-contact></app-contact>
<app-footer></app-footer>


<!--


<div class="profile-container">
    <h1>HR Profile</h1>
    <div *ngIf="user">
      <p><strong>First Name:</strong> {{ user.firstName }}</p>
      <p><strong>Last Name:</strong> {{ user.lastName }}</p>
      <p><strong>Company Email:</strong> {{ user.email }}</p>
      <p><strong>Company Name:</strong> {{ user.companyName }}</p>
      <p><strong>Contact Number:</strong> {{ user.contactNumber }}</p>
    </div>
  </div>
-->