<ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
 </ul>
 

 <div class="container" id="container" #container>
    <!-- Change Password Form -->
    
    <div class="form-container sign-up-container">
      
    </div>
  
    <!-- Forgot Password Form -->
    <div class="form-container sign-in-container">
        
      <form (ngSubmit)="onForgotPassword()" [formGroup]="forgotPasswordForm" #formDirective="ngForm">
        <h1 class="create">Forget Password</h1>
      
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <i class="bi bi-envelope input-icon"></i>
          <input class="input100" type="email" placeholder="Email" formControlName="email">
          <span class="focus-input100"></span>
          
        </div>
      
        <div class="form-group_flex">
          <button class="sign_inB" type="submit" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
          <button class="back sign_inB" type="button" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Back to login</button>
        </div>
      
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="error-message">
          Please enter a valid email address.
        </div>
      </form>
    </div>
  
    <!-- Overlay Container -->
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <!-- Optional: Add content for the left overlay panel -->
        </div>
        <div class="overlay-panel overlay-right">
          <img class="logo1" src="assets/frontA/images/logo/1.png" alt="Logo" />  
        </div>
      </div>
    </div>
  </div>