<div class="container">
    <h2>Liste des entretiens</h2>
  
    <!-- Tableau des entretiens -->
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Étudiant</th>
          <th>Project Manager</th>
          <th>Candidature</th>
          <th>Date</th>
          <th>Type</th>
          <th>Statut</th>
          <th>Lien Réunion</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let interview of interviews">
          <td>{{ interview.studentId }}</td>
          <td>{{ interview.projectManagerId }}</td>
          <td>{{ interview.applicationId }}</td>
          <td>{{ interview.interviewDate }}</td>
          <td>{{ interview.interviewType }}</td>
          <td>{{ interview.statusType }}</td>
          <td>{{ interview.lienReunion }}</td>
          <td>
            <button (click)="editInterview(interview)" class="btn btn-warning">Modifier</button>
            <button class="btn btn-danger" (click)="deleteInterview(interview.interviewId)" >Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <h3>{{ editing ? 'Modifier' : 'Ajouter' }} un entretien</h3>
    <form (ngSubmit)="editing ? updateInterview() : addInterview()">
      <div>
        <label>Étudiant ID:</label>
        <input type="number" [(ngModel)]="currentInterview.studentId" name="studentId" required>
      </div>
      <div>
        <label>Project Manager ID:</label>
        <input type="number" [(ngModel)]="currentInterview.projectManagerId" name="projectManagerId" required>
      </div>
      <div>
        <label>Candidature ID:</label>
        <input type="number" [(ngModel)]="currentInterview.applicationId" name="applicationId" required>
      </div>
      <div>
        <label>Date:</label>
        <input type="date" [(ngModel)]="currentInterview.interviewDate" name="interviewDate" required>
      </div>
      <div>
        <label>Type:</label>
        <select [(ngModel)]="currentInterview.interviewType" name="interviewType" required>
          <option value="TECHNIQUE">Technique</option>
          <option value="MEETING">Meeting</option>
        </select>
      </div>
      <div>
        <label>Statut:</label>
        <select [(ngModel)]="currentInterview.statusType" name="statusType" required>
          <option value="PLANNED">Planifié</option>
          <option value="COMPLETED">Réalisé</option>
          <option value="CANCELLED">Annulé</option>
        </select>
      </div>
      <div>
        <label>Lien Réunion:</label>
        <input type="text" [(ngModel)]="currentInterview.lienReunion" name="lienReunion">
      </div>
      <button type="submit" class="btn btn-primary">{{ editing ? 'Modifier' : 'Ajouter' }}</button>
    </form>
  </div>
 