<header class="header">
  <div class="navbar-area">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" routerLink="/">
          <img src="assets/images/logo.png" alt="ESPRIT InterLink" />
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/opportunities" routerLinkActive="active">Opportunities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/workspace" routerLinkActive="active">My Workspace</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/companies" routerLinkActive="active">Companies</a>
            </li>
          </ul>
          
          <div class="notification-area">
            <div class="notification-icon" [class.has-notifications]="notificationCount > 0">
              <i class="fas fa-bell"></i>
              <span class="notification-badge" *ngIf="notificationCount > 0">
                {{ notificationCount > 9 ? '9+' : notificationCount }}
              </span>
            </div>
            
            <div class="user-profile">
              <img src="assets/frontA/images/profile/avatar.png" alt="User Avatar" />
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
